@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o7vwdo');
  src:  url('fonts/icomoon.eot?o7vwdo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o7vwdo') format('truetype'),
    url('fonts/icomoon.woff?o7vwdo') format('woff'),
    url('fonts/icomoon.svg?o7vwdo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tamshoes-"], [class*=" tamshoes-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tamshoes-icon_bupbe:before {
  content: "\e900";
}
.tamshoes-icon_caogot .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.tamshoes-icon_caogot .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tamshoes-icon_sandan:before {
  content: "\e903";
}
